
@import "compass/css3";
@import "mixins";

.crayon-swatch {
  display: block;
  float: left;
  height: 15px;
  line-height: 15px;
  margin: {
    right: 5px;
  }
  width: 30px;
  .crayon-swatch-label {
    color: #fff;
    display: block;
    font: {
      size: 9px;
    }
    height: 15px;
    overflow: hidden;
    text: {
      align: center;
    }
  }
}
.crayon-anchor {
  position: relative;
  .crayon-popup {
    display: none;
  }

  &:hover {
    .crayon-popup {
      background: inline-image('crayon-popup.png') 0px 100% no-repeat;
      border: {
        top: 1px solid #e0e0e0;
      }
      bottom: 100%;
      color: #333;
      display: block;
      font-size: 11px;
      left: 20px;
      margin: 0px 0px -5px -40px;
      padding: 0px 0px 10px;
      position: absolute;
      width: 160px;
      z-index: 1000;
    }

    .crayon-popup {
      .crayon-popup-label {
        display: block;
        line-height: 15px;
        padding: 5px;
        word-wrap: break-word;
        @include border-radius(5px);
      }

      .with-swatch {
        padding: {
          left: 25px;
        }
        position: relative;
      }

      .crayon-swatch {
        height: 15px;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 15px;
      }
      * {
        display: inline;
      }
    }
  }
}
// crayon mixin crayon crayon number, background-color, border-color
@include crayon('0', #D96666, #A32929);
@include crayon('1', #E67399, #B1365F);
@include crayon('2', #B373B3, #7A367A);
@include crayon('3', #8C66D9, #5229A3);
@include crayon('4', #668CB3, #29527A);
@include crayon('5', #668CD9, #2952A3);
@include crayon('6', #59BFB3, #1B887A);
@include crayon('7', #65AD89, #28754E);
@include crayon('8', #4CB052, #0D7813);
@include crayon('9', #8CBF40, #528800);
@include crayon('10', #BFBF4D, #88880E);
@include crayon('11', #E0C240, #AB8B00);
@include crayon('12', #F2A640, #BE6D00);
@include crayon('13', #E6804D, #B1440E);
@include crayon('14', #BE9494, #865A5A);
@include crayon('15', #A992A9, #705770);
@include crayon('16', #8997A5, #4E5D6C);
@include crayon('17', #94A2BE, #5A6986);
@include crayon('18', #85AAA5, #4A716C);
@include crayon('19', #A7A77D, #6E6E41);
@include crayon('20', #C4A883, #8D6F47);
@include crayon('21', #C7561E, #853104);
@include crayon('22', #B5515D, #691426);
@include crayon('23', #C244AB, #5C1158);
@include crayon('24', #603F99, #23164E);
@include crayon('25', #536CA6, #182C57);
@include crayon('26', #3640AD, #060D5E);
@include crayon('27', #3C995B, #125A12);
@include crayon('28', #5CA632, #2F6213);
@include crayon('29', #7EC225, #2F6309);
@include crayon('30', #A7B828, #5F6B02);
@include crayon('31', #CF9911, #875509);
@include crayon('32', #D47F1E, #8C500B);
@include crayon('33', #B56414, #754916);
@include crayon('34', #914D14, #6B3304);
@include crayon('35', #AB2671, #5B123B);
@include crayon('36', #9643A5, #42104A);
@include crayon('37', #4585A3, #113F47);
@include crayon('38', #737373, #333);
@include crayon('39', #41A587, #0F4B38);
@include crayon('40', #D1BC36, #856508);
@include crayon('41', #AD2D2D, #711616);

// crayon mixin crayonlight crayon number, background-color, border-color
@include crayonlight(0, #F0C2C2, #A32929);
@include crayonlight(1, #F5C7D6, #B1365F);
@include crayonlight(2, #E1C7E1, #7A367A);
@include crayonlight(3, #D1C2F0, #5229A3);
@include crayonlight(4, #C2D1E1, #29527A);
@include crayonlight(5, #C2D1F0, #2952A3);
@include crayonlight(6, #BDE6E1, #1B887A);
@include crayonlight(7, #C2DCC7, #28754E);
@include crayonlight(8, #B5E6B5, #0D7813);
@include crayonlight(9, #D1E6B3, #528800);
@include crayonlight(10, #E6E6B8, #88880E);
@include crayonlight(11, #F3E7B3, #AB8B00);
@include crayonlight(12, #FADCB3, #BE6D00);
@include crayonlight(13, #F5CCB8, #B1440E);
@include crayonlight(14, #E5D4D4, #865A5A);
@include crayonlight(15, #DDD3DD, #705770);
@include crayonlight(16, #D0D6DB, #4E5D6C);
@include crayonlight(17, #D9DEE4, #5A6986);
@include crayonlight(18, #CEDDDB, #4A716C);
@include crayonlight(19, #DCDCCB, #6E6E41);
@include crayonlight(20, #E7DCCE, #8D6F47);
@include crayonlight(21, #D6A58C, #853104);
@include crayonlight(22, #D0A4A9, #691426);
@include crayonlight(23, #D69FCC, #5C1158);
@include crayonlight(24, #A89AC2, #23164E);
@include crayonlight(25, #A4AFC9, #182C57);
@include crayonlight(26, #99C, #060D5E);
@include crayonlight(27, #98C2A6, #125A12);
@include crayonlight(28, #A6C794, #2F6213);
@include crayonlight(29, #B6D48E, #2F6309);
@include crayonlight(30, #C6D090, #5F6B02);
@include crayonlight(31, #D9C285, #875509);
@include crayonlight(32, #DDB78D, #8C500B);
@include crayonlight(33, #CDA986, #754916);
@include crayonlight(34, #BB9D84, #6B3304);
@include crayonlight(35, #C98EAE, #5B123B);
@include crayonlight(36, #C09CC7, #42104A);
@include crayonlight(37, #9DBAC7, #113F47);
@include crayonlight(38, #B5B6B6, #333);
@include crayonlight(39, #9BC7BA, #0F4B38);
@include crayonlight(40, #DDD398, #856508);
@include crayonlight(41, #C99, #711616);

